# Copyright 2015-2016 F5 Networks Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
#
FROM {{ registry_project_name }}/tempest:latest

ARG PUBLIC_ROUTER_ID
ENV PUBLIC_ROUTER_ID=$PUBLIC_ROUTER_ID
ARG PUBLIC_NETWORK_ID
ENV PUBLIC_NETWORK_ID=$PUBLIC_NETWORK_ID
ARG OS_AUTH_URL
ENV OS_AUTH_URL=$OS_AUTH_URL
ARG OS_AUTH_URL_V3
ENV OS_AUTH_URL_V3=$OS_AUTH_URL_V3
ARG OS_TENANT_ID
ENV OS_TENANT_ID=$OS_TENANT_ID
ARG ICONTROL_IPADDR
ENV ICONTROL_IPADDR=$ICONTROL_IPADDR
ARG CONTROLLER_IPADDR
ENV CONTROLLER_IPADDR=$CONTROLLER_IPADDR
ENV TEMPEST_CONFIG_DIR=/etc/tempest/tempest.conf

RUN pip install pytest
RUN git clone git@bldr-git.int.lineratesystems.com:tools/pytest-autolog.git
RUN pip install pytest-autolog
RUN git clone git@bldr-git.int.lineratesystems.com:tools/pytest-symbols.git
RUN pip install pytest-symbols
RUN git clone git@bldr-git.int.lineratesystems.com:tools/pytest-meta.git
RUN pip install pytest-meta

# cloning tempest and F5 neutron-lbaas
RUN git clone -b {{ branch }}  https://github.com/F5Networks/neutron-lbaas.git 
RUN git clone https://github.com/openstack/tempest.git
RUN pip install tempest/ 

RUN pip install -r neutron-lbaas/requirements.txt
RUN pip install -r neutron-lbaas/test-requirements.txt 

#RUN mkdir -p /root/{{ project }}
#RUN tempest workspace register --name {{ timestamp }}_test --path /root/{{ project }}/
#ADD tempest/{{ project }}/run_tempest.sh /root/
#WORKDIR /root/{{ project }}
#ENTRYPOINT ["/root/run_tempest.sh"]

git clone https://bldr-git.int.lineratesystems.com/openstack/f5-os-testrunner-configs.git /root/f5-os-testrunner-configs
RUN cp -R /root/f5-os-testrunner-configs/tempest/lbaasv2/* /etc/tempest/

RUN TEMPEST_CONF="/etc/tempest/tempest.conf"

RUN crudini --set $TEMPEST_CONF network public_router_id $PUBLIC_ROUTER_ID
RUN crudini --set $TEMPEST_CONF network public_network_id $PUBLIC_NETWORK_ID
RUN crudini --set $TEMPEST_CONF identity uri $OS_AUTH_URL
RUN crudini --set $TEMPEST_CONF identity uri_v3 $OS_AUTH_URL_V3
RUN crudini --set $TEMPEST_CONF auth admin_tenant_id $OS_TENANT_ID
RUN crudini --set $TEMPEST_CONF f5_lbaasv2_driver icontrol_hostname $ICONTROL_IPADDR
RUN crudini --set $TEMPEST_CONF f5_lbaasv2_driver icontrol_username admin
RUN crudini --set $TEMPEST_CONF f5_lbaasv2_driver icontrol_password admin
RUN crudini --set $TEMPEST_CONF f5_lbaasv2_driver transport_url rabbit://guest:guest@$CONTROLLER_IPADDR:5672/
# Run tempest tests in workspace
RUN tempest run --config-file ${TEMPEST_CONF}
